.show-dan {
    animation: showToastyGuy 1s;
}

@keyframes showToastyGuy {
    0% {
        right: -200px;
    }
    40% {
        right: 0;
    }
    60% {
        right: 0;
    }
    100% {
        right: -200px;
    }
}
